# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: NestJS Backend CI

on:
  # workflow_dispatch:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  docker-push:
    name: Push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: '{{defaultContext}}/nestjs-backend'
          # platforms: linux/amd64,linux/arm64
          push: true
          tags: won6526/real-world-app-nestjs-backend:main

  e2e-test:
    name: Run e2e tests
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Setup node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: ./nestjs-backend

      - name: Run docker compose
        run: |
          docker-compose -f "docker-compose.yml" --env-file .env.e2e up -d

      - name: Run e2e tests
        working-directory: ./nestjs-backend
        run: |
          npm ci
          npm run test:e2e:ci

      - name: Generate test report
        uses: dorny/test-reporter@v1
        if: success()
        with:
          name: Test report
          working-directory: ./nestjs-backend
          path: coverage/jest-junit.xml
          reporter: jest-junit
